#!/bin/sh

set -e


mkdir -p /var/container-proxy/cache
mkdir -p /var/container-proxy/ca

mkdir -p /var/proxy-runtime
cd /var/proxy-runtime
cp /root/docker-compose.yaml .

systemctl enable docker
systemctl start docker

docker compose build --progress quiet

docker compose up --detach

date | tee /root/proxy-init-finished.txt
